.inicio-badget {
  padding: 3rem 1rem;
  figure {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  h3 {
    text-align: center;
  }
}
