//breakpoint
$breakpoint-movil-small: 320px;
$breakpoint-movil: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large-desktop: 1024px;

//generales
$font-size: 18px;
$font-family: 'Roboto', sans-serif;